MONGO_URI=mongodb://127.0.0.1:27017/meshai
JWT_SECRET=e9187ab6-91e6-4a86-8d24-d30da7aa37e0
NEBIUS_API_KEY=v1.CmMKHHN0YXRpY2tleS1lMDBldnB4MWVxZTd3YzhldjUSIXNlcnZpY2VhY2NvdW50LWUwMHNwdDU1emc4OTMyd25kdDILCNqs2NAGEP3b7Tw6DAjZr_CbBxDAr96GAkACWgNlMDA.AAAAAAAAAAE4J5ta2HJ-ty4p-1Qp4Hrd7AleE4dxM-C5KrdY43aPfvVFbcgyZ7yKNmcYoMpdpHogfOoAHwq5ZHpnd8kKV5IM
SITE_ADDRESS=localhost